// General styles
//
//  Table of content:
//  1. Box sizing
//  2. Default root em size
//  3. Body

//  ============================================================================
//  1. Box sizing
//  ============================================================================

*,
*::before,
*::after {
    box-sizing: border-box;
}

//  ============================================================================
//  2. Default root em size
//  ============================================================================

html {
    font-size: 16px;
}

//  ============================================================================
//  3. Body
//  ============================================================================

body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}
